@import "bootstrap/variables.less";

body {
    padding-top: 50px;
    //padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.align-right {
    position: absolute;
    right: 0;
}

.text-justify {
    text-align: justify;
}

.relative {
    position: relative;
}

.bottom-center-text {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.content {
    padding: 15px 15px;
}

//==== backgrounds =====

.background-stretch {
    background-size: 100% 100%;
    min-height: 100%;
}

.background-keep-aspect {
    background-size: cover;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.background-fixed {
    background-attachment: fixed;
}

.background-imgsketch {
    background-image: url("images/sketch.jpg");
    .background-stretch;
}

.background-imgteam {
    background-image: url("images/team.jpg");
    .background-keep-aspect;
    .background-fixed;
}

.background-imgquote {
    background-image: url("images/quote-image.png");
    .background-keep-aspect;
    .background-fixed;
}

.background-imgmentor {
    background-image: url("images/mentor-image.jpg");
    .background-keep-aspect;
}

.background-imgbuffalo {
    background-image: url("images/buffalo-harbor-cropped.jpg");
    .background-keep-aspect;
}

@color-chan-likes:            #b6aea3;
@base-drafting-color:         rgb(244, 244, 239);
@drafting-color:              darken(@base-drafting-color, 6%);
@darkbg-color:                darken(@base-drafting-color, 80%);

.background-light {
    background-color: @drafting-color;
}

.background-dark {
    background-color: @darkbg-color;

    p {
        color: @alert-warning-bg;
    }

    h1 {
        color: @alert-warning-bg;
    }
}

.background-black {
    background-color: @close-color;

    p {
        color: @alert-warning-bg;
    }

    h1 {
        color: @alert-warning-bg;
    }
}

//===== Statements =======

.major-statement {
    display: block;
    font-size: @font-size-larger;
    padding: 70px 0 70px 0;
    font-weight: bold;
    position: relative;
}

.huge-statement {
    display: block;
    font-size: @font-size-huge;
    padding: 0 0 40px 0;
    font-weight: bold;
    position: relative;
}

.title {
    padding-bottom: 70px;
    font-family: @font-family-serif;
}

.question {
    margin-bottom: @line-height-computed;
    font-size: floor((@font-size-base * 1.15));
    font-weight: 700;
    line-height: 1.4;
}

.main-logo {
    max-width:1000px;
    width:100%;
    padding: 120px 0 0 0;
}

.logo-sm {
    padding-top: 5px;
}

.final-thought {
    padding-top: 200px;
    padding-bottom: 280px;
    color: whitesmoke;

    position: absolute;
    left: 60%;
}

//====== Images and Blocks ========

.post-it {
    width: 180px;
    height: 190px;
    background-color: @drafting-color;
    text-align: center;
    
    //-webkit-transition:width 0.5s, height 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    //transition:width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}

// no animations right now
/*.post-it:hover {
    background-color: #FFCCCC;
    width:200px;
    height:200px;
    -ms-transform: scaleX(1.50); // IE 9 
    -webkit-transform: scaleX(1.50); // Safari 
    transform: scaleX(1.50);
}*/

.block-container {
    width: 100%;
    background-color: @drafting-color;

    h3 {
        padding: 30px 30px 5px 30px;
    }

    p {
        padding: 5px 30px 30px 30px;
        .text-justify;
    }
}

.icon-container {
    padding-top: 80px;
    position: relative;
    width: 100%;

    p {
        text-align: center;
        padding-top: 15px;
    }
}

.icon-lg {
    width: 100px;
    height: 100px;
}

.icon-sm {
    width: 50px;
    height: 50px;
}

footer {
    p {
        padding: 30px 0 10px 0;
    }

    ul {
        text-align:center;
        padding:0;

        li {
            display: inline-block;
            padding: 5px 20px 5px 0;
        }
    }
}

//======= Shapes ==========

.triangle {
        left:10px;
        width: 0; 
        height: 0; 
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 100px solid black;
    }
    .triangle:after {
        left:10px;
        width: 0; 
        height: 0; 
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 50px solid #FFF;
        //left: 57px;
        position: absolute;
        top: 38px;
        content: '';
    }

.triangle-down {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

    width: 100px;
    height: auto;

    position: absolute;
    bottom: 0;
}