@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>
}


<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <div class="main-logo center-block">
                <img class="img-responsive" src="~/Content/images/Whitespace-Logo-standard-painting-med.png" />
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-center major-statement w-60 center-block">great innovation comes from a balance of technical and creative minds</p>
        </div>
    </div>
</div>

<div class="container-fluid section">
    <div class="row background-imgsketch relative">
        <div class="col-md-12">
            <div class="text-center major-statement w-80">
                <p class="bottom-center-text">
                    Our educational program trains the left and right brain simultaneously - inspiring creators to build without boundries
                </p>
            </div>
        </div>
    </div>
</div>

<div class="drafting-block content section">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12 title">
                    <h1>Whitespace Ninja Bootcamp</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Whitespace studio offers a full-time, 15 week intensive bootcamp dedicated to
                        creating software developers with an artistic edge. We call them
                        Whitespace Ninjas.
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="major-statement w-70 center-block">
                        We immerse you in an environment modeled after a modern software company.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        In fact, our bootcamp is located within a modern software company allowing you to see your education
                        in action. Our program is designed around real world scenarios, not lectures and books.
                    </p>
                    </div>
                <div class="col-md-6">
                    <p>
                        You will undergo intense training in Software Development and Design while also being given
                        personalized Mentoriship and Career Placement Services.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-imgteam container section">
    <div class="row">
        <div class="col-md-12 title">
            <h1>Team</h1>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Our dynamic team is comprised of two passionate individuals and a whole community in Buffalo
                    that support our cause. We come from vastly different fields, but have combined to reforge the
                    educational system and bring it in line with how the real world operates.
                </p>

            </div>
            <div class="col-md-6">
                PICTURE HERE
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <h4>David Bachowski - CEO</h4>
                </p>
                <p>
                    David Bachowski loves to do all the things. Software is one of many passions alongside music, martial arts,
                    cooking, traveling, and community outreach. He doesn’t believe there should be boundaries between your passions.
                    Let them drive each other. Let them conflict as well as help each other. Whitespace is his creative canvas to
                    help others reach their fullest potential in life.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <h4>Chantal Calato - Artistic Director</h4>
                </p>
                <p>
                    Chantal Calato has been taking on adventures and being creative for as long as she can remember.  A natural born
                    artist and leader, her art engages the public’s imagination through the transformation of the massive and the
                    miniature. She has traveled abroad and lived in both London and Brazil, collecting experiences to broaden her
                    perspective on life. She loves to dream big and to share that passion with others.
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">

        
    </div>


    <div class="drafting-block content">
        <div class="container">
            <div class="section content">
                <div class="row">
                    <div class="col-md-12 title">
                        <h1>FAQ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="FAQ-item">
                            <p class="question">
                                What inspired Whitespace?
                            </p>
                            <p class="answer">
                                The concept for Whitespace is inspired by the Japanese philosophy The Pen and the Sword, the essential code of
                                a samurai warrior. Throughout the history of Japan, Samurai developed their physical martial arts while also
                                studying the softer skills of poetry, writing, and art. One discipline informs the other, and gives it perspective.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                How much does it cost?
                            </p>
                            <p class="answer">
                                Tuition is $12,000 for a 15 week semester. This is an extremely competitive rate compared to other bootcamps and
                                helps ensure that we can attract the most talented teachers in the industry. Typical bootcamps around the country
                                cost around $1k per week and average 9-12 weeks. Our program is longer than average for the following reasons:
                                <ul>
                                    <li>.Net is not quite as easy to pick up as languages like Ruby or PHP that a lot of other bootcamps teach</li>
                                    <li>We have an intense design curriculum in place to make sure you are not only technically gifted but also able to build cohesive designs and talk the talk with other designers</li>
                                </ul>
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                Are there refunds?
                            </p>
                            <p class="answer">
                                No. We have a lot of confidence in our program and believe you should have confidence in yourself. Software Development jobs
                                are in high demand, but that doesn’t mean it is easy to get them! It will require dedicated effort both during
                                classes and after graduation to land you your entry level position. We partner with local companies to get you
                                the best chance of getting hired, but ultimately it is your tenacity and drive to succeed that will get you
                                to the next stage in your life.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                What are my payment options?
                            </p>
                            <p class="answer">
                                A $1K downpayment is required when signing up and the rest is due on the first day of classes. Students do not
                                qualify for federal student aid for any software bootcamp, including Whitespace, but we are looking into other
                                options to give students more flexibility.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                How likely is it for me to land a job after graduation?
                            </p>
                            <p class="answer">
                                Very likely. This obviously has a lot to do with how hard you work. The traits that will make you successful
                                in our bootcamp (passion, persistence, dedication) are also the traits that hiring companies look for.
                                Throw in the fact that we have partnerships with major hiring companies in the area and you have a
                                recipe for success.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                A lot of other bootcamps teach Ruby or PHP, why do you teach .Net?
                            </p>
                            <p class="answer">
                                .Net/C# is the most sought-after development language in the WNY region and most likely to net you a job.
                                It is also a fun language to work in and translates well to any other object-oriented language.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                Why do you teach design with technology?
                            </p>
                            <p class="answer">
                                Understanding the elements and principles of design is learning a new language, the language that we
                                see and perceive with our eyes. Not only will you be able to make more intuitive and artistic software,
                                you will be able to communicate more effectively with other designers and artists in the field.
                                Use this new language of design to see the world in a new way and positively influence your life as a whole.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                Do I have to provide my own computer and materials?
                            </p>
                            <p class="answer">
                                It is highly recommended that you have your own laptop running Windows 8. We do have some loaner laptops
                                available for students who cannot afford a laptop but they are honestly very old machines that we saved
                                from destruction just to have on hand for emergencies. Having your own laptop will also ensure that you
                                can continue your studies after graduation.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                What kind of certification do I receive at the end of the program?
                            </p>
                            <p class="answer">
                                The biggest thing you gain from attending our class is learning to think like a developer and designer.
                                You will ‘learn how to learn’. Software development is constantly changing and if you don’t know how to
                                learn the newest language or framework your job will expire just as quickly. That being said, students
                                that graduate will receive a certification as a ‘Whitespace Ninja’ which means we are confident in your
                                skills to jump directly into an entry-level position, and will market you as such.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                Can I keep my job while I attend?
                            </p>
                            <p class="answer">
                                It is highly recommended that you forgo any other commitments during the bootcamp. You are making a huge
                                investment in your future which will take an equivalent portion of your time. Beyond in-class lessons,
                                code reviews, and lab hours there are also plenty of homework assignments and networking events.
                            </p>
                        </div>
                        <div class="FAQ-item">
                            <p class="question">
                                Do I already need to know how to code to join?
                            </p>
                            <p class="answer">
                                Not at all! Our program is designed to mold you into a world class entry level developer with a  keen eye
                                for design. If you have already done some development on your own, you will also find our class useful to
                                learn the fundamentals of what you think you already know and push yourself to the next level.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center final-thought">
                some ninjas hide in the shadows <br>
                ours dwell in the
            </div>

        </div>
        <div id="top-logo-text-sm" class="center-block">
            <img class="img-responsive" src="~/Content/images/whitespace-text.png" />
        </div>
    </div>
</div>